@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 스크롤 바 관련 UI를 제거하는 속성 원하는 요소에 scroll-box 클래스를 부여하면 됨 */

  html,
  body {
    height: 100dvh;
    margin: 0;
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .scroll-box {
    overflow-x: hidden;
    -ms-overflow-style: none;
  }

  .scroll-box::-webkit-scrollbar {
    display: none;
  }

  .travel-plan-scroll-box {
    overflow-x: scroll;
    -ms-overflow-style: none;
  }

  .travel-plan-scroll-box::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .react-calendar {
    @apply w-[60%] h-fit border-none flex flex-col;
  }
  .react-calendar__navigation {
    @apply w-full flex justify-center items-center p-2;
  }
  .react-calendar__navigation > button {
    flex-grow: 1;
  }
  .react-calendar__month-view {
    @apply h-[];
  }

  .react-calendar__tile {
    @apply text-center p-2 hover:bg-gray-200;
  }

  .custom-selected {
    background-color: rgb(37 99 235);
    color: white;
    border-radius: 0.5rem;
  }
  .custom-range {
    background-color: rgb(191 219 254);
    color: black;
  }
}
